* {
    margin: 0;
    padding: 0;
}

#header {
    padding: 20px;
    text-align: center;
}

#icons {
    text-align: center;
    padding-bottom: 20px;
}

#displayBoxForUser {
    text-align: center;
}

#displayBoxForComputer {
    padding-top: 20px;
    text-align: center;
}

#displayOutcome {
    padding-top: 20px;
    text-align: center;
}

#score {
    padding-top: 20px;
    text-align: center;
}